/*
App
*/
.App {
  border: 0.5px groove rgb(204, 204, 211);
}

button {
  text-align: center;
  border: 2px outset white;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/*
BabyNames (List)
*/

.nameList {
  margin: 2% 20%;
  padding: 0px;
  border: 2px solid lightblue;
  border-radius: 10px;
  text-align: center;
}

.nameList > li {
  display: inline-block;
}

/*
SearchBarWrapper and SearchBar
*/

.searchBarWrapper {
  text-align: center;
  margin-top: 20px;
}

.searchBar {
  background-color: rgb(255, 226, 231);
  border-radius: 20px;
}

/*
BabyName (Button and surrounding div)
*/
.BabyName {
  margin: 2px;
}

.boyNameButton {
  background-color: lightblue;
}

.boyNameButton:active {
  background-color: #025497;
  color: white;
}

.boyNameButton:hover {
  color: rgb(37, 194, 247);
}

.girlNameButton {
  background-color: lightpink;
}

.girlNameButton:active {
  background-color: #f72da3;
  color: white;
}

.girlNameButton:hover {
  color: rgb(253, 125, 147);
}
