/*
App
*/

button {
  text-align: center;
  border: 2px outset white;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/*
MainContent
*/
.babyNamesListWrapper {
  border: 2px solid lightblue;
  border-radius: 15px;
  padding: 0px;
  margin: 20px 200px;
  min-height: 300px;
}

.favouritesListWrapper > li {
  display: inline-block;
}

.favouritesTextWrapper {
  color: gray;
  text-align: center;
}

/*
BabyNames (List)
*/

.nameList {
  margin: 2%;
  padding: 0px;
  text-align: center;
}

.nameList > li {
  display: inline-block;
}

/*
SearchBarWrapper and SearchBar
*/

.searchBarWrapper {
  text-align: center;
  margin-top: 20px;
}

.searchBar {
  background-color: white;
  border-radius: 20px;
  border: 2px solid lightpink;
}

.allButton {
  background-color: lavender;
  color: white;
}

.allButton:active {
  background-color: lightcyan;
}

.allButton:hover {
  color: purple;
}

.girlOnlyButton {
    background-color: lightpink;
}

.girlOnlyButton:active {
  background-color: #f72da3;
    color: white;
}

.girlOnlyButton:hover {
  color: rgb(253, 125, 147);
}

.boyOnlyButton {
  background-color: lightblue;
}

.boyOnlyButton:active {
  background-color: #025497;
  color: white;
}

.boyOnlyButton:hover {
  color: rgb(37, 194, 247);
}

/*
BabyName (Button and surrounding div)
*/
.BabyName {
  margin: 2px;
}

.boyNameButton {
  background-color: lightblue;
}

.boyNameButton:active {
  background-color: #025497;
  color: white;
}

.boyNameButton:hover {
  color: rgb(37, 194, 247);
}

.girlNameButton {
  background-color: lightpink;
}

.girlNameButton:active {
  background-color: #f72da3;
  color: white;
}

.girlNameButton:hover {
  color: rgb(253, 125, 147);
}
